* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
  width: 100%;
  height: 100%;
}

figure {
  margin: 0;
}

.h-100 {
  height: 100%;
}

.flex {
  display: flex;
}

.w-50 {
  width: 50%;
}

.container {
  max-width: 100%;
  width: 1180px;
  margin: 0 auto;
}
.container .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
  flex-wrap: wrap;
}
.container .row .col {
  width: calc(16.6666666667% - 10px);
  height: 200px;
  margin-bottom: 40px;
}
.container .row .col-buy {
  width: calc(20% - 20px);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .row .col-buy figure {
  width: 25%;
  margin-right: 20px;
}
.container .row .col-buy .buy-text {
  font-size: 12px;
  color: white;
}

:root {
  --primary-color: #1c82f9;
}

/*
BOTTOM HEADER
*/
#bottom-header {
  padding: 10px;
  background-color: var(--primary-color);
}
#bottom-header .content-bottom-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#bottom-header .content-bottom-header .content-bh {
  color: white;
  margin-right: 1rem;
  font-size: 12px;
}

/*
TOP HEADER
*/
#top-header {
  background-color: #fff;
}
#top-header .content-top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}
#top-header .content-top-header figure {
  width: 80px;
  height: 80px;
}
#top-header .content-top-header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
#top-header .content-top-header ul li {
  padding: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid transparent;
}
#top-header .content-top-header ul li:hover {
  border-bottom: 3px solid var(--primary-color);
  cursor: pointer;
}
#top-header .content-top-header ul li:hover a {
  color: var(--primary-color);
}
#top-header .content-top-header ul li a {
  font-size: 12px;
  font-weight: bold;
}

.input-block {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid var(--primary-color);
}
.input-block input {
  border: 0;
  font-size: 1rem;
}

#jumbotron {
  background-image: url("../images/jumbotron.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  width: 100%;
}

main {
  background-color: #1c1c1c;
  padding: 50px 0;
}
main figure {
  height: 100%;
}

.card-title {
  color: white;
  padding: 10px 0;
}

.button-in-main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
}
.button-in-main a {
  display: block;
  padding: 16px 40px;
  color: white;
  background-color: var(--primary-color);
}

#merchandizing-area {
  background-color: var(--primary-color);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

footer {
  background-image: url("../images/footer-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
footer #coockies {
  color: grey;
}
footer #coockies a {
  color: var(--primary-color);
}

#top-footer {
  padding-top: 100px;
  display: flex;
  align-items: center;
}
#top-footer #footer-links {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
#top-footer #footer-links .image-footer {
  height: 400px;
}
#top-footer #footer-links div {
  width: calc(33.3333333333% - 10px);
  margin-right: 10px;
}
#top-footer #footer-links h4 {
  color: white;
  font-weight: bold;
}
#top-footer #footer-links ul {
  margin-bottom: 20px;
}
#top-footer #footer-links ul li {
  color: grey;
  margin: 10px 0;
}

#bottom-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 0;
  background-color: #303030;
}
#bottom-footer .bottom-footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#bottom-footer #social-links {
  display: flex;
  align-items: center;
  justify-content: center;
}
#bottom-footer #social-links > figure {
  margin: 0 10px;
  width: 30px;
  height: 30px;
}
#bottom-footer #social-links .follow-us {
  color: var(--primary-color);
  font-weight: bold;
}
#bottom-footer .sign-up {
  display: block;
  border: 2px solid var(--primary-color);
  padding: 10px;
  background-color: transparent;
  color: white;
}